<div id="main">
<h1>Please sign up</h1>


	<form action="/users" method="post" class='forms'>
		<div class="formItem">
	  		<label>Email:</label>
	  		<input name="email" type="text" value="<%= @user.email %>">
	  	</div>
	  	<div class="formItem">
	  		<label>Choose a username:</label>
	  		<input name="username" type="text">
	  	</div>
	  	<div class="formItem">
	  		<label>First name:</label>
	  		<input name="first_name" type="text">
	  	</div>
	  	<div class="formItem">
	  		<label>Last name:</label>
	  		<input name="last_name" type="text">
	  	</div>
	  	<div class="formItem">
	  		<label>Password:</label>
	  		<input name="password" type="password">  
	  	</div>
	  	<div class="formItem">
	  		<label>Confirm Password:</label>
	  		<input name="password_confirmation" type="password">  
	 	</div>
	 	<div class="formItem">
	  <input type="submit" value="Sign up" class='body_button'>
	  	</div>
	</form>
</div>
