<div id="new_peep">

    <form id="new_peep_box" method="post" action="/peep">
      <textarea maxlength="140" rows="2" cols="40" name="message" placeholder="Compose new peep"></textarea>
      <!-- <input name="message" type="text" size="140"> -->
      <input type="submit" value="Peep it" class='body_button'>
    </form>

  </div>